
}
.down{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #fff;
}
.footer{
    text-align: left;
    height: 500px;
    color: #fff;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    margin-top: 0;
}
#foot-header{
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
    border-bottom: solid #FFAC12;
}
#chini{
    display: flex;
    justify-content: space-around;
}