*{
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
} 
body{
    background-color: gainsboro;
}  
.topnav{
    background-color: black;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 30px;
}
li{
    display: inline;
    padding: 20px;
}
.Great{
    font-size: x-large;
    font-weight: 400;
}
.Movers{
    font-size: x-large;
    font-weight: 400;
    color: #FFAC12;
}
.section1{
    display: flex;
}
.formlike{
    background-color: #fff;
    border: solid white;
    border-radius: 20px;
    margin-bottom: 80px;
}
.profileicon{
    border: solid white;
    background-color: gainsboro;
    border-radius: 10px;
    margin-top: 10px;
}
.therest{
    margin-top: 10px;
}
#namy{
    border: solid gainsboro;
    border-radius: 10px;
}
#phone{
    border: solid gainsboro;
    border-radius: 10px;
}
#email{
    border: solid gainsboro;
    border-radius: 10px;
    margin top: 200px;
}
#hello{
    border: solid gainsboro;
    border-radius: 10px;
}
.down{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #fff;
}
.footer{
    text-align: left;
    height: 500px;
    color: #fff;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    margin-top: 0;
}
#foot-header{
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
    border-bottom: solid #FFAC12;
}
#chini{
    display: flex;
    justify-content: space-around;
}