.header{
    background-image: url("./images/moving\ 1.png");
    height: 830px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px;
}
.change{
    margin-top: 100px;
    margin-left: 100px;
    font-size: xx-large;
}
.span1{
    color: #FAFF00;
}
.span2{
    color: #fff;
}
.cut{
    margin-left: 100px;
    display: flex;
}
#hustle{
    margin-left: 100px;
    margin-top: 100px;
}
#cutty{
    text-decoration: overline;
}
.btna{
    background-color: black;
    color: #FAFF00;
    padding: 15px;
    border-top-right-radius: 10px;
}
